<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>主页</title>
<style>
 p{font-family:微软雅黑;}
</style>
</head>
<body>
<div class="col_12">
	<div class="col_9">
	<h3>Hello World!</h3>
	<p ><a href="http://weibo.com/1991961265/profile?topnav=1&wvr=5" target="_other">
	<img class="align-left icon-border" src="http://tp2.sinaimg.cn/1991961265/180/5703760733/1" width="180" height="150" /></a>
	<br><br>
	欢迎！我白天是个程序猿，晚上就是个有抱负的演员。</p>
	<p>这是我的试验田。我漂泊在天朝的帝都.</p>

	
	</div>
	
	<div class="col_3">
	<h5>Icon List</h5>
	<ul class="icons">
	<li><i class="icon-ok"></i> Apple</li>
	<li><i class="icon-ok"></i> Banana</li>
	<li><i class="icon-ok"></i> Orange</li>
	<li><i class="icon-ok"></i> Pear</li>
	</ul>
	
	<h5>Contact me</h5>
	<a href="https://twitter.com/RiverFly8" target="_other"><i class="icon-twitter-sign icon-4x"></i></a>
	<a href="https://www.facebook.com/he.jiang.9047" target="_other"><i class="icon-facebook-sign icon-4x"></i></a>
	<a href="https://github.com/river168" target="_other"><i class="icon-github-sign icon-4x"></i></a>
	
	<span class="icon social x-large darkgray" data-icon="1"></span>
	<span class="icon social x-large black" data-icon="w"></span>
	<span class="icon x-large pink" data-icon="*"></span>
	<span class="icon social x-large green" data-icon="v"></span>
	
	</div>
	
	<hr />
	
	<div class="col_3">
	<h4>Column</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortissss</p>
	</div>
	
	<div class="col_3">
	<h4>Column</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
	</div>
	
	<div class="col_3">
	<h4>Column</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
	</div>
	
	<div class="col_3">
	<h4>Column</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
	</div>
</div>
</body>
</html>