<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>主页</title>
<style>
 p{font-family:微软雅黑;}
</style>
#barMenu("indexBar")
</head>
<body>
<div class="col_12">
	<div class="col_9">
	<h3>Hello World!</h3>
	<p ><a href="http://weibo.com/1991961265/profile?topnav=1&wvr=5" target="_other">
	<img class="align-left icon-border" title="我的微博" src="http://tp2.sinaimg.cn/1991961265/180/5703760733/1" width="180" height="150" /></a>
	<br><br>
	欢迎！我白天是个程序猿，晚上就是个有抱负的演员。<br> 这是我的试验田。我漂泊在天朝的帝都.</p>
 
	
	</div>
	
	<div class="col_3">
	<h5>Interest list</h5>
	<ul class="icons">
	<li><i class="icon-circle"></i> basketball</li>
	<li><i class="icon-film"></i> movies</li>
	<li><i class="icon-desktop"></i> code</li>
	<li><i class="icon-music"></i> music</li>
	</ul>
	
	<h5>Contact me</h5>
	<a href="https://twitter.com/RiverFly8" target="_other"><i class="icon-twitter-sign icon-4x"></i></a>
	<a href="https://www.facebook.com/he.jiang.9047" target="_other"><i class="icon-facebook-sign icon-4x"></i></a>
	<a href="https://github.com/river168" target="_other"><i class="icon-github-sign icon-4x"></i></a>
	
	<span class="icon social x-large darkgray" data-icon="1"></span>
	<span class="icon social x-large black" data-icon="w"></span>
	<span class="icon x-large pink" data-icon="*"></span>
	<span class="icon social x-large green" data-icon="v"></span>
	
	</div>
	
	<hr />
	
	<div class="col_3">
	<h4><span class="  icon-coffee" />Spring MVC</h4>
	<p>Spring MVC属于SpringFrameWork的后续产品，已经融合在Spring Web Flow里面。Spring 框架提供了构建 Web 应用程序的全功能 MVC 模块。使用 Spring 可插入的 MVC 架构，可以选择是使用内置的 Spring Web 框架还可以是 Struts 这样的 Web 框架。</p>
	</div>
	
	<div class="col_3">
	<h4><span class="  icon-coffee" />Mybatis</h4>
	<p>MyBatis 本是apache的一个开源项目iBatis, 2010年这个项目由apache software foundation 迁移到了google code，并且改名为MyBatis 。2013年11月迁移到Github。</p>
	</div>
	
	<div class="col_3">
	<h4><span class="  icon-coffee" />Velocity</h4>
	<p>Velocity是一个基于java的模板引擎（template engine）。它允许任何人仅仅使用简单的模板语言（template language）来引用由java代码定义的对象</p>
	</div>
	
	<div class="col_3">
	<h4><span class="  icon-coffee" />Maven</h4>
	<p>Maven是基于项目对象模型(POM)，可以通过一小段描述信息来管理项目的构建，报告和文档的软件项目管理工具</p>
	</div>
</div>
</body>
</html>